@{
    ViewBag.Title = "Home Page";
}

<h1 style="color:white;">HOTEL ROYAL GRAND </h1> 


@*<p>
    @Html.ActionLink("Receptionist", "IndexReceptionist", "Login",new { @style = "font-size:30px;" })
    @Html.ActionLink("Manager", "IndexManager", "Login")
    @Html.ActionLink("Owner", "IndexOwner", "Login")
</p>*@







<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('../../content/img/background_photo.jpg');
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
        }

        body, html {
            height: 100%;
            margin: 0;
        }
    </style>
</head>

</html>